*{
    padding: 0;
    margin: 0;
    font-family: Helvetica;
}


/* ul li:first-child,
ul li:last-child{
    color: blue;
    font-weight: bold;
    text-transform: uppercase;
} */

body{
    padding: 10px;
}

nav{
    background-color: cadetblue;
    padding: 10px;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 8px 16px;
}
nav ul li:hover{
    background-color: coral;
    color: #fff;
    cursor: pointer;
}
ul li:nth-child(2n + 0 ){
    color: pink;
    font-weight: bold;
    text-transform: uppercase;
}

section{
    background-color: blueviolet;
    color: #fff;
    padding: 20px;
    /* display: none; */
}

section p{
    margin: 0;
}

section p::first-line{
    color: chartreuse;
    font-weight: bold;
}

section p::first-letter{
    color: cyan;
    font-size: 24px;
    font-family: Helvetica;
}

section p::selection{
    background-color: #000;
    color: #fff;
}
/* section p::before{
    content: url(../img/favicon.ico);
}
section p::after{
    content: url(../img/favicon.ico);
} */
section > div{
    margin: 50px 0;
}

section > div > div > img{
    width: 50%;
    display: block;
    margin: 15px auto;
}

section > div  > div > h2{
    text-align:center;
    font-size: 30px;
}
section > div  > div > p{
    font-size: 18px;
    text-align: justify;
}

@media screen and (min-width:768px) {
    
    /* section{
        background-color: cyan;
        display: block;
    } */

    section > div{
        float: left;
        width: 46.4%;
        background-color: blueviolet;
        margin: 0 15px;
    }

}

@media screen and (max-width:768px) {
    nav ul li{
        display: block;
    }

    nav{
        background-color: coral;
    }
}

@media (min-width:769px) and (max-width:920px) {
    nav{
        background-color:crimson;
    }
}

@media (min-width:921px) and (max-width:1280px) {
    nav{
        background-color:green;
    }
}